<form>
    <h4>Filtros</h4>
    <hr />
    <h5>
        <img src="../../../assets/icons/filters/search.svg" />
        <span>Nombre de hotel</span>
    </h5>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Ingrese el nombre del hotel" />
        <button type="submit" class="btn">Aceptar</button>
    </div>
    <hr />
    <h5>
        <img src="../../../assets/icons/filters/star.svg" />
        <span>Estrellas</span>
    </h5>
    <div class="form-group last">
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Todas las estrellas</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                <img src="../../../assets/icons/filters/star.svg" />
                <img src="../../../assets/icons/filters/star.svg" />
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                <img src="../../../assets/icons/filters/star.svg" />
            </label>
        </div>
    </div>
</form>