@import '../../app.component.sass'

$form-linebg: #f4f4f4
$form-stitle: #157ab1
$form-btn: #002c77

form
    background-color: $section-bg
    box-shadow: $section-fade
    h4, h5
        margin-bottom: 0
    h4        
        font-size: 16px
        font-weight: bold
        padding: 10px 16px
    h5
        color: $form-stitle
        font-size: 14px
        font-weight: bold
        padding: 12px 16px
        img                
            width: 12px
            height: 12px
            margin-right: 8px
            filter: invert(0.4) sepia(2) saturate(4) hue-rotate(156deg)
    hr
        margin: 0
        border-top: 0
        border-bottom: 6px solid $form-linebg
    div.form-group
        padding: 0 16px
        margin: 6px 0 16px
        font-size: 14px
        &.last
            padding: 0 16px 10px
        input.form-control
            display: inline
            font-size: inherit
            width: calc(100% - 73px)
            padding: 4px 6px
            border-radius: $radius
            margin-right: 10px
            height: $height-control
        button.btn
            background-color: $form-btn
            color: #fff
            font-size: inherit
            padding: 4px 6px
            border-radius: $radius
            height: $height-control
        div.form-check
            margin-bottom: 6px
            font-size: 12px
            line-height: 20px
            font-weight: bold
            label.form-check-label
                img
                    width: 12px
                    height: 12px
                    filter: invert(0.6) sepia(4) saturate(8) hue-rotate(0)
