<form>
    <h4 (click)="showHideAll($event)">Filtros</h4>
    <div *ngIf="allVisible">
        <hr />
        <h5 (click)="showHideInput($event)">
            <img src="../../../assets/icons/filters/search.svg" />
            <span>Nombre de hotel</span>
        </h5>
        <div class="form-group" *ngIf="inputVisible">
            <input type="text" class="form-control" id="hotel" [(ngModel)]="hotel" [ngModelOptions]="{standalone: true}" placeholder="Ingrese el nombre del hotel" />
            <button class="btn" (click)="filterBy($event)">Aceptar</button>
        </div>
        <hr />
        <h5 (click)="showHideStars($event)">
            <img src="../../../assets/icons/filters/star.svg" />
            <span>Estrellas</span>
        </h5>
        <div class="form-group last" *ngIf="starsVisible">
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Todas las estrellas</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    <img src="../../../assets/icons/filters/star.svg" />
                    <img src="../../../assets/icons/filters/star.svg" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    <img src="../../../assets/icons/filters/star.svg" />
                </label>
            </div>
        </div>
    </div>
</form>